@import 'theme/fonts.scss';
@import 'mixins.scss';

$font-family: 'Noto Sans', sans-serif;
$chat-height:400px;
$chat-width:270px;


$primary-bg: #be3430;
$primary-action-bg: #31C7BC;
$sent-bg: #ffffff;
$received-bg: #EFDFE0;
$box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.5);
$primary-font-color: #31C7BC;
$primary-font-inverse: #ffffff;

$border-color: #31C7BC;
$border-radius: 6px;

// === Minimized === //
$minimized-color: $primary-bg;
$minimized-width:47px;
$minimized-height:37px;
$minimized-padding: 8px 9px 6px 9px;
$minimized-padding-hover:6px 7px 4px 7px;;
$minimized-transition: all .3s;
$minimized-box-shadow: $box-shadow;
$minimized-border-radius: $border-radius;


// === Frame-Header === //
$header-bg: $primary-bg;
$header-height: 38px;
$header-font-family: $font-family;
$header-font-color: $primary-font-inverse;
$header-border-radius: $border-radius $border-radius 0px 0px;
$header-box-shadow: $box-shadow;
// title
$header-title-line-height: 35px;
$header-title-padding-left: 5px;


//$footer-height must be defined here to calc $mlist-height
$footer-height: 35px;

// === Frame-MessageList === //
$mlist-font-family:$font-family;
$mlist-font-size: 80%;
$mlist-bg: #ffffff;
$mlist-box-shadow: $box-shadow;
$mlist-padding: 0 3px;
$mlist-inner-padding: 0 0 5px 0;
$mlist-height: $chat-height - $header-height - $footer-height;

$mlist-scroll-width: 6px;
$mlist-scroll-track-bg: transparent;
$mlist-scroll-thumb-bg: rgba(0, 0, 0, 0.3);
$mlist-scroll-thumb-border-radius: 3px;

// === Frame-Footer === //
//$footer-height: <must be defined before $mlist-height>;
$footer-bg:#ffffff;
$footer-box-shadow: $box-shadow;
$footer-border-top: 1px solid #ccc;
$footer-border-radius: 0 0 $border-radius $border-radius;

$footer-actions-width: 40px;
$footer-actions-border-radius: 0 0 $border-radius 0;
$footer-actions-padding: 0 3px 0 2px;
$footer-actions-bg: transparent;
$footer-actions-font-color: $primary-font-color;
$footer-actions-transition: all .5s;

$footer-actions-icon-padding:5px 5px 5px 5px;

$footer-input-font-family: $font-family;
$footer-input-font-size: 80%;
$footer-input-bg: transparent;
$footer-input-border-radius: 0 0 0 $border-radius;
$footer-input-padding: 3px 3px 2px 3px;
$footer-input-width:$chat-width - $footer-actions-width;

