@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700");
.linus-chat .minimized {
  position: absolute;
  border-radius: 6px;
  background-color: #be3430;
  padding: 9px 13px 4px 12px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer; }
  .linus-chat .minimized:hover {
    padding: 10px 14px 5px 13px; }
  .linus-chat .minimized .logo {
    width: 22px;
    height: 20px; }
