@import "theme/variables.scss";

.linus-chat{
  .minimized{
    box-sizing: border-box;
    position:absolute;
    cursor: pointer;
    width: $minimized-width;
    height: $minimized-height;
    border-radius:$minimized-border-radius;
    background-color: $minimized-color;
    padding:$minimized-padding;
    box-shadow: $minimized-box-shadow;
    color:$header-font-color;
    transition: $minimized-transition;
    &:hover{
      padding:$minimized-padding-hover;
    }
    svg{
      width: 100%;
      height:100%;
    }
  }
}
