@import "theme/variables.scss";

.linus-chat{
  .minimized{
    position:absolute;
    border-radius:6px;
    background-color: $minimized-color;
    padding:9px 13px 4px 12px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
    &:hover{
      padding:10px 14px 5px 13px;
    }
    .logo{
      width: 22px;
      height:20px;
    }
  }
}
