@import 'theme/variables.scss';


.linus-chat .frame header{
  background-color: $header-bg;
  height: $header-height;
  font-family: $header-font-family;
  color: $header-font-color;
  border-radius: $header-border-radius;
  box-shadow: $header-box-shadow;
  title{
    display: inline-block;
    height:100%;
    line-height: $header-title-line-height;
    padding-left: $header-title-padding-left;
  }
  .actions{
    display:inline-block;
    float:right;
    height:$header-height;
    width:40px;
    .action{
      height:100%;
      margin:0 3px 0 0;
      cursor:pointer;
      &.close img{
        width:16px;
        margin:10px;
      }
    }
  }
}
