@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700");
.linus-chat .frame .message-list-wrapper {
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  padding: 0 3px;
  height: 327px;
  overflow: hidden; }
  .linus-chat .frame .message-list-wrapper .message-list {
    box-sizing: border-box;
    padding: 0 0 5px 0;
    height: 327px;
    font-family: "Noto Sans", sans-serif;
    font-size: 80%;
    overflow-y: scroll;
    overflow-x: hidden; }
    .linus-chat .frame .message-list-wrapper .message-list::-webkit-scrollbar {
      display: block;
      width: 6px; }
    .linus-chat .frame .message-list-wrapper .message-list::-webkit-scrollbar-track {
      background: transparent; }
    .linus-chat .frame .message-list-wrapper .message-list::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.3);
      border-radius: 3px; }
